/* line 1, ../sass/components/_masthead.scss */
#masthead {
  background: #BD92CF;
}

/* line 5, ../sass/components/_masthead.scss */
#circle {
  margin-bottom: 10px;
}
/* line 7, ../sass/components/_masthead.scss */
#circle img {
  margin-top: 20px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow: 0 0 60px 30px #fff;
}

/* line 2, ../sass/components/_hero.scss */
#hero {
  background: #593C64;
}
/* line 6, ../sass/components/_hero.scss */
#hero h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}
/* line 14, ../sass/components/_hero.scss */
#hero iframe {
  padding-left: 5px;
  zoom: 1.3;
  margin-bottom: 2px;
}
/* line 22, ../sass/components/_hero.scss */
#hero img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 4em;
}

@font-face {
  font-family: "Bemio";
  src: url('/stylesheets/fonts/fonts/bemio.otf') format('opentype');
}

/* line 4, ../sass/components/_about.scss */
#about {
  background: #D0C8D3;
  padding: 5em 3em;
}
/* line 9, ../sass/components/_about.scss */
#about img {
  width: 100%;
}
/* line 14, ../sass/components/_about.scss */
#about p {
  margin: 0;
  text-align: left;
  color: #482955;
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}
/* line 23, ../sass/components/_about.scss */
#about .social {
  background: #482955;
  height: 245px;
}
/* line 26, ../sass/components/_about.scss */
#about .social ul {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 0;
}
/* line 32, ../sass/components/_about.scss */
#about .social ul li {
  display: inline;
}
/* line 34, ../sass/components/_about.scss */
#about .social ul li i {
  font-size: 8em;
  margin: 0 8px;
  display: inline-block;
  color: #D0C8D3;
  position: relative;
  top: 75px;
}
/* line 42, ../sass/components/_about.scss */
#about .social ul li i:hover {
  color: white;
  transition: all 0.3s ease-in;
  text-shadow: 1px 0px 20px white;
}
/* line 53, ../sass/components/_about.scss */
#about h2 {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}
/* line 63, ../sass/components/_about.scss */
#about .bottom p {
  text-align: center;
}

@font-face {
  font-family: "Bemio";
  src: url('/stylesheets/fonts/fonts/bemio.otf') format('opentype');
}

/* line 5, ../sass/components/_grid.scss */
.gallery h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
/* line 12, ../sass/components/_grid.scss */
.gallery p {
  color: white;
  font-family: arial;
  font-size: 16px;
  padding-right: 9em;
  padding-left: 9em;
}
/* line 19, ../sass/components/_grid.scss */
.gallery figure {
  margin: 0px 5px 10px 5px;
  height: 300px;
  border: solid #eeeeee 5px;
  box-shadow: 0 0 8px #000000;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 29, ../sass/components/_grid.scss */
.gallery figure figcaption {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s linear;
  text-shadow: #000 1px 1px 0;
  color: #ccc;
  text-align: left;
  padding: 4em 2em;
  text-size: 12px;
  color: white;
  font-size: 16px;
}
/* line 47, ../sass/components/_grid.scss */
.gallery figure figcaption h3 {
  font-weight: bold;
}
/* line 51, ../sass/components/_grid.scss */
.gallery figure figcaption:hover {
  display: block;
  opacity: 1.0;
}
/* line 58, ../sass/components/_grid.scss */
.gallery figure img {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 66, ../sass/components/_grid.scss */
.gallery div {
  margin: 0;
  padding: 0;
}

/* line 73, ../sass/components/_grid.scss */
.bottom {
  margin-top: 5em;
}

/* line 1, ../sass/components/_base.scss */
body {
  background: #7F1780;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* line 8, ../sass/components/_base.scss */
h1 {
  font-family: bemio;
  font-size: 3.5em;
  padding-left: 8px;
}

/* line 10, ../../../../../../../program files (x86)/scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../program files (x86)/scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -20px;
}
/* line 18, ../../../../../../../program files (x86)/scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 20px;
}

/* line 20, ../../../../../../../program files (x86)/scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 20px;
}

/* line 4, ../sass/components/_footer.scss */
#footer {
  background: #fff;
}
