#landing{
    background:#000;
    height:97vh;
    padding-top: 145px;
   	padding-bottom: 16px;

   	#logo{
   		position: relative;
  		top: 24%;
   	}

   	h2{
   		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 8px;
		padding: 0px 25px;
   	}
}

.fa-th{
	
	color: #fff;
	font-size: 2em;
	text-shadow: 1px 0px 20px white;
}

#nav-icon{
	color:#000;
	line-height: 28px;
	font-size: 2.5em;
}
